<!doctype html>
<title>{% block title %}{% endblock %} - Personal Blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <div class="nav-left">
    <a href="{{ url_for('index') }}" class="brand">Personal Blog</a>
  </div>
  <div class="nav-right">
    <ul>
      {% if g.user %}
        <li class="nav-user">Signed in as {{ g.user['username'] }}</li>
        <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.register') }}">Sign up</a></li>
        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>